@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');


* {
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
    max-width: 100%;
    outline: auto;
}

html {
    font-size: 62.5%; 
}

body {
    font-size: 1.6rem;
    line-height: 1.5; 
    font-family: 'Roboto Mono', monospace; 
}

section#top, nav {
    text-align: center; 
    height: 100px;

}

nav {
    padding: 2%; 
}

#top-first div {
   width: 100px;
   outline: auto; 
}

.hello {
    outline: auto;
}

nav a {

    text-decoration: none;
    margin: 0 10%;
    padding: 7px;
    border-radius: 10px;

}

.button {
    display:inline-block;  
    color: white; 
    width: 170px; 
}

#btn-1 {
    background: #FF764E
}
#btn-2 {
    background: #5ED3EB
}
#btn-3 {
    background: #FFCD69
}

.top-first img {
    display: inline-block; 
    width: 15%;
}

.main-titles {
    display: inline-block;
    width: 15%; 
}

.top-first {
    margin: 0 20%; 
}