@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');


* {
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
    max-width: 100%;
}

html {
    font-size: 62.5%; 
}

body {
    font-size: 1.6rem;
    line-height: 1.5; 
    font-family: 'Roboto Mono', monospace; 
}

section#top, nav {
    text-align: center;
    height: 10rem;

}

nav {
    padding: 2%;
}

#top-first div {
   width: 10rem;
}

.hello {
    outline: auto;
}

nav a {
    text-decoration: none;
    margin: 0 10%;
    padding: .7rem;
    border-radius: 1rem;
    margin-bottom: 10%;

}

.button {
    display:inline-block;  
    color: white; 
    width: 170px; 
}

#btn-1 {
    background: #FF764E
}
#btn-2 {
    background: #5ED3EB
}
#btn-3 {
    background: #FFCD69
}

.big-container {
   margin: 0 auto; 
}

.one  {
    display: inline-block; 
    width: 17%;
    margin-left: 10%;
    margin-top: 3%;
}

img.main {
    width: 110%; 
    border-radius: 50%;
    margin-left: 4%;
}
    

.two {
    display: inline-block; 
    width: 60%; 
    text-align: center; 
    font-size: 5.5rem; 
    margin-left: 3%;
}

h4 {
    font-size: 2.5rem; 
    margin: 20px; 
}

h2 {
    margin-top: 80px;
    font-family: 'Chelsea Market', cursive;
}

.middle-container {
    border: 1px solid black;  
    width: 93%; 
    background: #DDB9A3;
    font-size: 2.8rem;
    margin: 2.5% auto;  
    color: white; 
    
}

.paragraph-one {
    width: 93%; 
    margin: 0 auto;
    text-align: center; 
}

.lower-container {
    text-align: center; 
    margin: 0 auto; 
}


span {
    font-weight: bold;
}

.icons {
    width: 10%; 
    margin-right: 0%;
}

.special {
    width: 45%;
    text-align: center; 
    margin-left: 30%;
}
.last-img {
    background: gray;
    width: 100%;
    height: 20rem; 
}

.hero-image {
    background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat; 
    background-attachment:fixed; 
    height: 50rem; 
    margin-top: 5%;
}

footer {
    background: #F9E7DC;
}
